/* styles.css */

* {
	font-family: Arial;
}

:root { 
/* CSS HEX */
--stormy-teal: #006d77ff;
--pearl-aqua: #83c5beff;
--alice-blue: #edf6f9ff;
--almond-silk: #ffddd2ff;
--tangerine-dream: #e29578ff;	
}

html { 
background-color: var(--stormy-teal); 
}
h1 { 
 color: var(--almond-silk);
} 
body {
  background-color: #171717;
  cursor: none;
  height: 120vh;
}

.small {
  width: 6px;
  height: 6px;
  border: 2px solid #fff;
  border-radius: 50%;
}

.big {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  animation-name: stretch;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes stretch {
  0% {
    opacity: 0.2;
    background-color: green;
    border-radius: 100%;
  }
  50% {
    background-color: orange;
  }
  100% {
    background-color: red;
  }
}
