/* styles.css */

* {
	font-family: Arial;
}
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root { 
/* CSS HEX */
--stormy-teal: #006d77ff;
--pearl-aqua: #83c5beff;
--alice-blue: #edf6f9ff;
--almond-silk: #ffddd2ff;
--tangerine-dream: #e29578ff;
	 --cursor-size: 24px;
  --background: #f2f2f2;
}

html { 
background-color: var(--stormy-teal); 
}
h1 { 
 color: var(--almond-silk);
} 
